<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="">
    {% block css %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>
<body>

<header>
    <nav class="row">
        <h5 class="col">Administration</h5>
        <a class="col" href="index.php?controller=user">Utilisateurs</a>
        <a class="col" href="index.php?controller=article">Articles</a>
    </nav>
</header>

{% block body %} {% endblock %}

{% block javascript_end %}{% endblock %}
</body>
</html>